<div class="container">
  <h2>Catálogo de Productos</h2>
<table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">ProductName</th>
        <th scope="col">Inventory</th>
        <th scope="col">Price</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <th scope="row">{{product.productId}}</th>
        <td>{{product.productName}}</td>
        <td>{{product.productDescription}}</td>
        <td>{{product.inventory}}</td>
        <td [ngClass]="{'red-color':product.price > 200 }">{{product.price | currency : 'C$'}}</td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/product',product.productId]">Detalle</button>
      </tr>
    </tbody>
  </table>
</div>
